# Node environment ( development / production )
HOST=127.0.0.1
PORT=3000
NODE_ENV=development

# App Configs
APP_ENV=local
APP_NAME=My Planner API
APP_URL=http://${HOST}:${PORT}
APP_KEY=
CACHE_VIEWS=false
HASH_DRIVER=bcrypt

# DB Configs
DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

# INTEGRATIONS
# - Sentry
SENTRY_DSN=

